fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
FinMind==1.9.4
yfinance==0.2.40
pandas==2.2.2
numpy==1.26.4
backtesting==0.3.3
ta==0.5.25
httpx==0.27.0
pydantic==2.7.1
tqdm==4.67.1
nest-asyncio==1.6.0
